.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

raw_words.txt
svenska-ord.txt
dictionary.txt
scraper/saol2018clean.txt
scraper/frequent.txt
scraper/more.txt
scraper/scrubbed.txt
scraper/swe_wordlist.txt
scraper/filtered.txt
scraper/non_filtered.txt
scraper/swe_wordlist_5.txt
