/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#svelte {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  touch-action: manipulation;
}

html {
  height: -webkit-fill-available;
}

.animate-pop {
  animation: pop 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes pop {
  10%,
  90% {
    transform: scale(1.1);
  }

  40%,
  60% {
    transform: scale(0.9);
  }
}
