/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#svelte {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  touch-action: manipulation;
}
body.standalone,
body.standalone #svelte  {
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
}
